<div id="new_movie_form_wrapper">
	<%= form_with model: @movie, html: { multipart: true } do |f| %>
		<%= f.label :name, class: "form_label" %>
		<br>
		<%= f.text_field :name %>
		<br>
		<br>
		<%= f.label :Genre, class: "form_label" %>
		<br>
		<%= f.text_field :genre %>
		<br>
		<br>
		<%= f.label :location_filmed, class: "form_label" %> 
		<br>
		<%= f.text_field :location_filmed %>
		<br>
		<br>
		<%= f.label	:Run_Time, class: "form_label" %>
		<br>
		<%= f.text_field :length %>
		<br>
		<br>
		<%= f.file_field :avatar %>
		<br>
		<br>
		<%= f.submit %>
	<% end %>
</div>