<h1>Movies#new</h1>
<p>Find me in app/views/movies/new.html.erb</p>

<div id="new_movie_form_wrapper">
	<%= form_with model: @movie, local: true do |f| %>
		<%= f.text_field :name %>
		<br>
		<%= f.label :name %>
		<br>
		<br>
		<%= f.text_field :genre %>
		<br>
		<%= f.label :Genre %>
		<br>
		<br>
		<%= f.text_field :location_filmed %>
		<br>
		<%= f.label :location_filmed %> 
		<br>
		<br>
		<%= f.text_field :length %>
		<br>
		<%= f.label	:Run_Time %>
		<br>
		<br>
		<%= f.submit %>
	<% end %>
</div>